body{

/*Fondo*/
background-color:black;  /* fallback for old browsers */


}


/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-+-Telefonos y Computadores+-+-+-+-+-+-+-+-+-+--+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- BANNER-+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/

#banner{

background-color: #0e1f33;
box-shadow: -1px -1px 4px 4px teal;
padding: 20px 20px 20px 20px;
text-align: center;

}



/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-telefonos y COMPUTADORES -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- VER MAS -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/



#ver{

  /*Sombra y margenes*/
  margin-right: 20%:
  vertical-align: middle;
  width: 50%;
  box-shadow: -4px -4px teal;


}

/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+Computadores+-+-+-+-+-+-+-+-+-+--+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- paralaje -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/

@media(min-width:768px){
#about{


  /*Foto en paralaje*/
  background:url("padre.jpg"); /* Nuestra imagen de fondo */
	background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:100%; /* Encajamos la imagen al 100% del ancho */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
  background-position:auto;
  width: 100%;
  height: 700px;
}
}

/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-telefonos y tablets -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- paralaje -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/


@media(max-width:768px){
#about{


  /*Foto en paralaje*/
  background:url("padre.jpg"); /* Nuestra imagen de fondo */
	/*background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:100%; /* Encajamos la imagen al 100% del ancho */
	/*background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
align: center;
text-align: center;
  width: 360px;
  height:340px;
}
}

#footer{

bottom-fixed;
width:100%;
height:100px;
background-color:black;
font-size:90px;

box-shadow: 4px 4px 4px teal;

color: white;
text-align: center;
 vertical-align: middle;

}

.content-box {
  column-count: 3;
}
