body{

/*Fondo*/
background-color:black;  /* fallback for old browsers */


}


/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-+-Telefonos y Computadores+-+-+-+-+-+-+-+-+-+--+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- BANNER-+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/

#banner{

background-color: #0e1f33;
box-shadow: -1px -1px 4px 4px teal;
padding: 20px 20px 20px 20px;
text-align: center;

}



/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-telefonos y COMPUTADORES -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- VER MAS -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/



#ver{

  /*Sombra y margenes*/
  margin-right: 20%:
  vertical-align: middle;
  width: 50%;
  box-shadow: -4px -4px teal;


}

/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+Computadores+-+-+-+-+-+-+-+-+-+--+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- paralaje -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/

@media(min-width:768px){
#about{


  /*Foto en paralaje*/
  background:url("padre.jpg"); /* Nuestra imagen de fondo */
	background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:100%; /* Encajamos la imagen al 100% del ancho */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
  background-position:auto;
  width: 100%;
  height: 700px;
}
}

/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+-telefonos y tablets -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*-++-+-+-+-+-+-+-+-+-+-+-+-+-+- paralaje -+-+--++-+-+-+-+-+-+-+-+-+-+-+-+-+*/


@media(max-width:768px){
#about{


  /*Foto en paralaje*/
  background:url("padre.jpg"); /* Nuestra imagen de fondo */
	/*background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:100%; /* Encajamos la imagen al 100% del ancho */
	/*background-attachment: fixed; /* Establecemos una posicion fija para la imagen */

  width: 100%;
  height:340px;
}
}

#footer{


background: url("fondo pag.png");
bottom-fixed;
width:100%;
height:200px;
background-color:black;
font-size:90px;

box-shadow: 4px 4px 4px teal;

color: white;
text-align: center;
 vertical-align: middle;

}

.content-box {
  column-count: 3;
}


#bodycontacto{

background:url("fondo pag.png");
background-size: 100%;

}

#h1contacto{

color: yellow;
 font-family: 'Lobster', cursive;
 font-size:90px;
text-align: center;

}

#mapa{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.p{

    font-family: 'Noto Sans', sans-serif;

}
.redes-container{
    display: flex;
    height: 18vh;
    align-items: center;
    justify-content: center;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50 px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
    transition: .2s;
}

.redes-container ul:hover a{
    filter:blur(2px);
}

.redes-container ul li a:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
    filter: none;
}

.redes-container ul li .facebook:hover{
    background-color: var(--facebook);
}

.redes-container ul li .instagram:hover{
    background-color: var(--instagram);
}

.redes-container ul li .twitter:hover{
    background-color: var(--twitter);
}

.redes-container ul li .pinterest:hover{
    background-color: var(--pinterest);
}

.redes-container ul li .linkedin:hover{
    background-color: var(--linkedin);
}
