body{


    background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#titulo{

  font-family:  Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  font-size:90px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px teal;

}
#about{
  background:url("padre.jpg"); /* Nuestra imagen de fondo */
	background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:cover; /* Encajamos la imagen al 100% del ancho */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
  width: 100%;
  height: 1000px;
}

#footer{

bottom-fixed;
width:100%;
height:100px;
background-color:black;
font-size:90px;

box-shadow: 4px 4px 4px teal;

color: white;
text-align: center;
 vertical-align: middle;

}
